body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background: linear-gradient(135deg, #ff6f61, #d83a6b);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.search-container {
    max-width: 600px;
    flex: 1;
}

#search-bar {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#search-bar:focus {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.profile-icon {
    margin-left: auto;
   margin-top: -100px;
    margin-right: 1rem;
    display: inline-block;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: transform 0.3s ease;
}

.profile-icon img:hover {
    transform: scale(1.1);
    border-color: #d83a6b;
}

nav {
    margin: 1rem 0;
}

.genre-button {
    background: #ffffff;
    color: #ff6f61;
    border: 2px solid #ff6f61;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.genre-button:hover {
    background: #ff6f61;
    color: #fff;
    transform: scale(1.1);
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.movie-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.movie-card h3 {
    margin: 0;
    padding: 0.5rem;
    background: #eee;
    transition: background 0.3s ease;
}

.movie-card:hover h3 {
    background: #ff6f61;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 600px;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ff6f61;
}

.close:hover {
    color: #d83a6b;
}
